/*------VARIABLES------*/
/*------LISTAS------*/
/*------MIXINS------*/
.contenedor {
  display: flex;
  justify-content: center; }

.contenedor1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; }

body {
  background-color: #1338a6; }

h1 {
  color: white;
  background-color: #537be8;
  padding-left: 10px;
  transition: 0.5s linear; }
  h1:hover {
    background-color: #fb7f01; }

h2 {
  color: white;
  background-color: #537be8;
  padding-left: 10px;
  transition: 0.5s linear; }
  h2:hover {
    background-color: #fb7f01; }

.btn {
  margin-bottom: 8px;
  margin-left: 8px;
  border: none;
  color: black;
  padding: 14px 28px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #fb7f01;
  border: 2px solid #ff5e01;
  display: flex;
  justify-content: center;
  transition: 1s linear; }
  .btn:hover {
    background-color: #ff5e01;
    border-color: #fb7f01; }
  .btn:active {
    border-color: #ff5e01;
    background-color: #fb7f01; }

.seccion {
  border: #fb7f01 solid 5px;
  margin: 10px 0 10px 0;
  background-color: #3965e2; }
  .seccion p {
    padding: 5px;
    background-color: #3965e2;
    color: white; }

a:link {
  color: white; }

a:visited {
  color: white; }

iframe {
  display: flex;
  justify-content: center; }

header {
  background-color: #3965e2;
  position: sticky;
  top: 0px;
  z-index: 1; }
  header img {
    width: 150px;
    height: 75px;
    padding: 15px; }
  header nav ul {
    list-style: none;
    border-bottom: solid #fb7f01 5px;
    border-top: solid #fb7f01 5px;
    padding: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; }
    header nav ul a {
      text-decoration: none; }

/*------Galeria------*/
.galeria-grid {
  width: 98%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 350px;
  gap: 10px;
  border: #fb7f01 solid 5px;
  padding: 10px; }
  .galeria-grid .galeria1 {
    grid-column: span 2; }
    .galeria-grid .galeria1 img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .galeria-grid .galeria2 {
    grid-row: span 2; }
    .galeria-grid .galeria2 img {
      width: 100%;
      height: 100%;
      object-fit: fill; }
  .galeria-grid .galeria3 {
    grid-column: span 2; }
    .galeria-grid .galeria3 img {
      width: 100%;
      height: 100%;
      object-fit: fill; }
  .galeria-grid .galeria4 {
    grid-column: span 2; }
    .galeria-grid .galeria4 img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .galeria-grid .galeria5 {
    grid-row: span 2; }
    .galeria-grid .galeria5 img {
      width: 100%;
      height: 100%;
      object-fit: fill; }
  .galeria-grid .galeria6 {
    grid-column: span 2; }
    .galeria-grid .galeria6 img {
      width: 100%;
      height: 100%;
      object-fit: cover; }

/*------Productos------*/
.productos .productos-contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }
  .productos .productos-contenedor .cartas {
    margin: 10px;
    background-color: #3965e2;
    border: 5px solid #fb7f01; }
    .productos .productos-contenedor .cartas .card-body h5 {
      padding: 5px;
      color: white;
      background-color: #537be8;
      text-align: center; }
    .productos .productos-contenedor .cartas .card-body .btn {
      display: flex;
      justify-content: center; }

/*------Sucursal Central------*/
.seccion div {
  display: flex;
  justify-content: center; }
  .seccion div iframe {
    padding: 15px; }

.seccion div {
  display: flex;
  justify-content: center; }
  .seccion div .btn {
    margin-bottom: 15px; }
    .seccion div .btn a {
      text-decoration: none; }

/*------Contacto------*/
.foto-contacto {
  height: 100%;
  width: 100%;
  margin-bottom: 10px; }

.seccion {
  border: 5px solid #fb7f01; }
  .seccion .formulario-contacto div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px; }
    .seccion .formulario-contacto div label {
      flex-wrap: wrap;
      font-size: 20px;
      color: white;
      padding-left: 20px;
      padding-right: 20px; }
  .seccion .formulario-contacto .contacto-botones input {
    color: white;
    background-color: #fb7f01;
    border: 2px solid #ff5e01;
    margin: 20px;
    padding: 10px; }

footer {
  margin-top: 10px; }
  footer form {
    height: 80px;
    background-color: #fb7f01; }
    footer form div {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap; }
      footer form div label {
        color: white;
        font-size: 30px;
        padding: 15px; }
      footer form div input {
        height: 40px;
        width: 300px; }
  footer .casa-inicio {
    position: fixed;
    bottom: 20px;
    right: 20px; }
    footer .casa-inicio a img {
      width: 25px;
      height: 25px; }
  footer .grid-footer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 250px;
    gap: 10px;
    padding: 10px; }
    footer .grid-footer .footer1 h3 {
      background-color: #537be8;
      color: white;
      text-align: center; }
    footer .grid-footer .footer1 a {
      padding-left: 10px; }
    footer .grid-footer .footer1 .redes-css {
      display: flex;
      color: #001865;
      padding: 5px;
      transition: 1s linear; }
      footer .grid-footer .footer1 .redes-css:hover {
        color: #fb7f01; }
    footer .grid-footer .footer1 p {
      padding-left: 10px;
      color: white; }
    footer .grid-footer .footer2 h3 {
      background-color: #537be8;
      color: white;
      text-align: center; }
    footer .grid-footer .footer2 .redes-flex {
      display: flex;
      justify-content: center; }
      footer .grid-footer .footer2 .redes-flex div a .redes-css {
        color: #001865;
        padding: 5px;
        transition: 1s linear; }
        footer .grid-footer .footer2 .redes-flex div a .redes-css:hover {
          color: #fb7f01; }
    footer .grid-footer .footer3 h3 {
      background-color: #537be8;
      color: white;
      text-align: center; }
    footer .grid-footer .footer3 .redes-css {
      color: #001865;
      padding: 5px;
      transition: 1s linear; }
      footer .grid-footer .footer3 .redes-css:hover {
        color: #fb7f01; }
    footer .grid-footer .footer3 p {
      padding-left: 10px;
      color: white; }

/* Media Query Mapa Sucursal Central en el index*/
@media screen and (max-width: 625px) {
  .seccion iframe {
    width: 500px;
    height: 300px; } }

@media screen and (max-width: 540px) {
  .seccion iframe {
    width: 400px;
    height: 300px; } }

@media screen and (max-width: 430px) {
  .seccion iframe {
    width: 300px;
    height: 300px; } }

/* Media Query Galeria*/
@media screen and (max-width: 470px) {
  header {
    flex-direction: column;
    position: static; }
    header nav ul {
      flex-direction: column;
      text-align: center; }
  main .galeria-grid {
    width: 90%;
    grid-template-rows: 1fr 1fr;
    grid-auto-rows: 300px; } }

/* Media contacto*/
@media screen and (max-width: 697px) {
  .formulario-contacto div {
    flex-direction: column; }
    .formulario-contacto div label {
      padding-left: 1px; }
    .formulario-contacto div textarea {
      width: 500px;
      height: auto; } }

@media screen and (max-width: 530px) {
  .formulario-contacto div textarea {
    width: 380px;
    height: auto; } }

@media screen and (max-width: 412px) {
  .formulario-contacto div {
    flex-direction: column; }
    .formulario-contacto div label {
      padding-left: 1px; }
    .formulario-contacto div textarea {
      width: 300px;
      height: auto; } }

@media screen and (max-width: 350px) {
  .formulario-contacto div {
    flex-direction: column; }
    .formulario-contacto div label {
      padding-left: 1px; }
    .formulario-contacto div textarea {
      width: 280px;
      height: auto; } }

/* Media footer*/
@media screen and (max-width: 817px) {
  footer form {
    height: 70px; }
    footer form div label {
      font-size: 25px;
      padding: 10px; }
    footer form div input {
      height: 30px; }
  footer .grid-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; }
    footer .grid-footer .footer1 h3 {
      font-size: medium; }
    footer .grid-footer .footer1 p {
      font-size: medium; }
    footer .grid-footer .footer1 a {
      font-size: medium; }
    footer .grid-footer .footer2 h3 {
      font-size: medium; }
    footer .grid-footer .footer2 p {
      font-size: medium; }
    footer .grid-footer .footer3 h3 {
      font-size: medium; }
    footer .grid-footer .footer3 p {
      font-size: medium; } }

@media screen and (max-width: 780px) {
  footer form {
    height: 70px; }
    footer form div label {
      font-size: 25px;
      padding: 10px; }
    footer form div input {
      height: 30px; }
  footer .grid-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; }
    footer .grid-footer .footer1 h3 {
      font-size: small; }
    footer .grid-footer .footer1 .redes-css {
      height: 30px;
      width: 30px;
      padding: 2px; }
    footer .grid-footer .footer1 p {
      font-size: small;
      padding: 5px; }
    footer .grid-footer .footer1 a {
      font-size: small;
      padding: 5px; }
    footer .grid-footer .footer2 h3 {
      font-size: small; }
    footer .grid-footer .footer2 .redes-css {
      height: 30px;
      width: 30px;
      padding: 2px; }
    footer .grid-footer .footer2 p {
      font-size: small;
      padding: 5px; }
    footer .grid-footer .footer3 h3 {
      font-size: small; }
    footer .grid-footer .footer3 .redes-css {
      height: 30px;
      width: 30px;
      padding: 2px; }
    footer .grid-footer .footer3 p {
      font-size: small;
      padding: 5px; } }

@media screen and (max-width: 725px) {
  footer form {
    height: 50px; }
    footer form div label {
      font-size: 20px;
      padding: 10px; }
    footer form div input {
      width: 250px; } }

@media screen and (max-width: 647px) {
  footer form div label {
    font-size: 20px;
    padding: 10px; }
  footer form div input {
    width: 200px;
    height: 30px; }
  footer .grid-footer .footer1 {
    width: 150px; }
    footer .grid-footer .footer1 h3 {
      font-size: small; }
    footer .grid-footer .footer1 .redes-css {
      height: 25px;
      width: 25px;
      padding: 2px; }
    footer .grid-footer .footer1 p {
      font-size: small;
      padding: 5px; }
    footer .grid-footer .footer1 a {
      font-size: small; }
  footer .grid-footer .footer2 {
    width: 150px; }
    footer .grid-footer .footer2 h3 {
      font-size: small; }
    footer .grid-footer .footer2 .redes-css {
      height: 25px;
      width: 25px;
      padding: 2px; }
    footer .grid-footer .footer2 p {
      font-size: small;
      padding: 5px; }
  footer .grid-footer .footer3 {
    width: 150px; }
    footer .grid-footer .footer3 h3 {
      font-size: small; }
    footer .grid-footer .footer3 .redes-css {
      height: 25px;
      width: 25px;
      padding: 2px; }
    footer .grid-footer .footer3 p {
      font-size: small;
      padding: 2px; } }

@media screen and (max-width: 550px) {
  footer form {
    height: 35px; }
    footer form div label {
      font-size: 15px;
      padding: 5px; }
    footer form div input {
      width: 150px;
      height: 25px; } }

@media screen and (max-width: 490px) {
  footer .grid-footer {
    flex-direction: column;
    align-items: center; } }

@media screen and (max-width: 404px) {
  footer form {
    height: 65px; }
    footer form div label {
      font-size: 15px;
      padding: 5px; }
    footer form div input {
      width: 150px;
      height: 25px; } }
